<style>
  .demo-card-wide.mdl-card {
    width: 512px;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/images/shopper1.jpg') center / cover;
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
</style>
<div class="demo-card-wide mdl-card mdl-shadow--8dp">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">Metro</h2>
  </div>
  <div class="mdl-card__supporting-text">
    Tags: Grocery
    Bacon ipsum dolor amet pancetta pastrami biltong chicken, chuck landjaeger short loin. Flank kevin cupim t-bone. Capicola doner boudin drumstick. Porchetta doner ham rump ground round pig corned beef leberkas bresaola ham hock tongue strip steak flank short loin. Prosciutto filet mignon doner drumstick, cow picanha corned beef kevin capicola t-bone porchetta pork belly shank tongue.

  </div>
  <div class="mdl-card__actions mdl-card--border">
    <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
      Get Started
    </a>
  </div>
  <div class="mdl-card__menu">
    <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
      <i class="material-icons">share</i>
    </button>
  </div>
</div>
